{# Ioana A Mititean #}
{# Exercise 24.3: REST and JSON #}
{# Cupcakes #}

{# Template for cupcakes app homepage. #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>

<body>

<h1>CUPCAKES</h1>

{# List for displaying cupcakes #}
<section>
    <h3>Current Cupcakes</h3>

    <ul id="all-cupcakes">

    </ul>

</section>

{# Form for adding a new cupcake #}
<section>
    <h3>Add a New Cupcake</h3>

    <form id="add-form">

        <div>
            <label for="flavor">Flavor:</label>
            <input id="flavor" type="text" name="flavor" required>
        </div>

        <div>
            <label for="size">Size:</label>
            <input id="size" type="text" name="size" required>
        </div>

        <div>
            <label for="rating">Rating (1-10):</label>
            <input id="rating" type="number" min="1" max="10" name="rating" required>
        </div>

        <div>
            <label for="image">Image URL:</label>
            <input id="image" type="text" name="image" required>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>

    </form>
</section>

<script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="static/app.js"></script>

</body>
</html>
